body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
}

#main {
    margin: 0;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#menue {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

#new-game {
    height: 64.22px;
    width: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005fc4;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
}

#difficulty {
    display: flex;
    gap: 6px;
    visibility: hidden;
}

.difficulty-button {
    height: 50px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9cd8ff;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}

#grid, #selection{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

#grid {
    height: 600px;
    margin-top: 3rem;
    border: 3px solid black;
}

#selection {
    height: 50px;
    margin-top: 3rem;
}

.cell, .digit {
    height: 64.22px;
    width: 64.22px;
    border: 1px solid rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.digit {
    cursor: pointer;
}

.unfixed-cell {
    cursor: pointer;
    color: #005fc4;
}

.digit {
    width: 58px;
}

.cell-bottum-border{border-bottom: 3px solid black;}
.cell-right-border{border-right: 3px solid black;}

.selected-cell{
    background-color: #9cd8ff;
}