body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#grid, #selection{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

#grid {
    height: 600px;
    margin-top: 3rem;
    border: 3px solid black;
}

#selection {
    height: 50px;
    margin-top: 3rem;
}

.cell, .digit {
    height: 64.22px;
    width: 64.22px;
    border: 1px solid rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.digit {
    cursor: pointer;
}

.fixed-cell {

}

.unfixed-cell {
    cursor: pointer;
    color: #005fc4;
}

.digit {
    width: 58px;
}

.cell-bottum-border{border-bottom: 3px solid black;}
.cell-right-border{border-right: 3px solid black;}

.selected-cell{
    background-color: #9cd8ff;
}